.container {
  @mixin commonStyleContainer {
    width: 400px;
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
  }
  @mixin commonStyleContainerComplete {
    min-height: 200px;
  }
  &--input {
    @include commonStyleContainer;
    display: flex;
    justify-content: space-between;
    background-color: #c1ffff;
  }
  &--incomplete {
    @include commonStyleContainer;
    @include commonStyleContainerComplete;
    background-color: #c6ffe2;
  }
  &--complete {
    @include commonStyleContainer;
    @include commonStyleContainerComplete;
    background-color: #ffffe0;
  }
  &__title {
    display: block;
    text-align: center;
    margin-top: 0;
    font-weight: bold;
    color: #666;
  }
}
